
/*FLEX DIRECTION*/
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.container-fluid{
  justify-content: space-between;
}

/*MAIN SETTING STYLE*/
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}
h1{
  font-size: 48px !important;
}
a{
  text-decoration: none;
  color: white;
  font: 900;
}
a:hover{
  text-decoration: none;
  color: yellow;
}
.main__container{
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.setting_block{
  background-color: rgba(255,255,255,0.2);
  border: solid 2px white;
  border-radius: 10px;
  padding: 2%;
  margin: 5%;
}

/*HEADER*/
.main__title{
  margin: 1%;
  color: white;
  
}
.main__menu{
  margin: 2%;
}

/*BUTTONS*/
button{
  background: transparent;
  border: none;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 100;
  max-height: 50px;
  margin: 0 5px;
  color: white;
}
button:hover{
  border: solid 1px white;
  color: white;
}
button:active {
  outline: none;
  border: none;
}

/*OTHER BUTTONS*/
.menu_button{
  padding: 15px;
  background-color: rgba(255,255,255,0.1);
}
.valid_button{
  border: 2px solid white;
  padding: 10px;
}
.valid_button:hover{
  border: 2px solid #F5E37A;
  color: #F5E37A !important;
}
.delete_button{
  margin: 10px;
  padding: 5px;
  font-size: 12px;
  border: 2px dotted brown;
  width: 30px;
  height: 30px;
}

/*FORM*/
input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px white;
  padding-bottom: 4px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #E8DF97 !important;
    -webkit-text-fill-background-color: white !important;
}

/*FOOTER*/
.footer__container{
  text-align: center;
  color: white;
}


/*ANIMATIONS*/

  /*RAINBOW BACKGROUND*/
  @-webkit-keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }